@import "../common.scss";
@import "../mixins.scss";
 
html,body {
    width: 100%;
}
.navbar {
    background: rgb(230,230,230);
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.3);
    .logo {
        display: block;
        width: 150px;
        height: 60px;
        background: url("../../images/index/logo2.png") 0px 0px no-repeat;
        background-size: 100%;
    }
    .nav {
        margin-left: 40px;
        a {
            line-height: 30px;
            font-size: 15px;
        }
    }
}

.page-body {
    margin-top: 100px;
    .img-ad {
        padding: 10px;
        position: relative;
        .img-consult-pc { 
            position: absolute; display: block;
            width: 4%; height: auto;
            left: 44%; top: 19%;
            img {
                width: 100%; height: auto;
            }
        }
        .img-consult-mb {
            position: absolute; display: block;
            width: 7%; height: auto;
            left: 41%; top: 30%;
            img {
                width: 100%; height: auto;
            }
        }
    }
}