* {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

img, button {
  border: none; }

html, body {
  width: 100%; }

.navbar {
  background: #e6e6e6;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3); }
  .navbar .logo {
    display: block;
    width: 150px;
    height: 60px;
    background: url("../../images/index/logo2.png") 0px 0px no-repeat;
    background-size: 100%; }
  .navbar .nav {
    margin-left: 40px; }
    .navbar .nav a {
      line-height: 30px;
      font-size: 15px; }

.page-body {
  margin-top: 100px; }
  .page-body .article-title {
    padding: 3px; }
    .page-body .article-title p.bg-info {
      margin-bottom: 0;
      padding: 8px;
      line-height: 35px;
      vertical-align: middle; }
      .page-body .article-title p.bg-info .title-img {
        display: inline-block;
        width: 40px;
        height: auto;
        margin-right: 10px; }
        .page-body .article-title p.bg-info .title-img img {
          width: 100%;
          height: auto;
          border-radius: 2px; }
      .page-body .article-title p.bg-info .badge {
        float: right;
        margin-top: 3%; }
