@import "../common.scss";
@import "../mixins.scss";
 
html,body {
    width: 100%;
}

.navbar {
    background: rgb(230,230,230);
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.3);
    .logo {
        display: block;
        width: 150px;
        height: 60px;
        background: url("../../images/index/logo2.png") 0px 0px no-repeat;
        background-size: 100%;
    }   
    .nav {
        margin-left: 40px;
        a {
            line-height: 30px;
            font-size: 15px;
        }
    }
}

.page-body {
    margin-top: 100px;
    .article-title {
        padding: 3px;
        a {
            text-decoration: none;
            p.bg-info {
                margin-bottom: 0; padding: 8px; line-height:35px;
                vertical-align: middle;
                .title-img {
                    display: inline-block; height: 45px; width: auto; margin-right: 10px;
                    border-radius: 2px;
                    img {
                        height: 100%; width: auto; 
                    }
                }
            }
        }
    }
}