<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script id="videosdata-temp" type="text/html">
		<% if(list.length==0) {%>
			暂无视频
		<% } %>
		<%for(var i = 0; i < list.length; i++) {%>
			<li class="waves-effect" videourl="<%=list[i].videourl%>" pageurl="<%=list[i].pageurl%>">
				<%:=list[i].name%>
			</li>
		<%}%>
	</script>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-1">
					<i class="logo"></i>
				</div>
				<div class="col-lg-11">
					<div class="nav text-center">
						<div class="btn-group navlist">
						  	<a class="btn btn-default waves-effect" cno="001">算法系列</a>
						  	<a class="btn btn-default waves-effect" cno="002">不懂装懂系列</a>
						  	<a class="btn btn-default waves-effect" cno="003">设计模式系列</a>
						  	<a class="btn btn-default waves-effect" cno="004">奇葩语言系列</a>
						  	<a class="btn btn-default waves-effect" cno="005">数学系列</a>
						  	<a class="btn btn-default waves-effect" cno="006">心理学系列</a>
						  	<a class="btn btn-default waves-effect" cno="007">电影系列</a>
						  	<a class="btn btn-default waves-effect" cno="008">逻辑思维训练</a>
						  	<a class="btn btn-default waves-effect" cno="009">表达能力训练</a>
						  	<a class="btn btn-default waves-effect" cno="010">JS系列</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="slide-navigator">
				<div id="wrapper">
					<ul id="videosdata">
						
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="category-detail">
				<iframe height=600 width=1140 class="center-block" src='' frameborder=0 'allowfullscreen'></iframe>
			</div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4">
					<a id="gotoUKu" class="center-block btn btn-danger btn-lg" style="display: none;" target="_blank" href="">去优酷观看</a>
				</div>
				<div class="col-lg-4 col-lg-offset-4">
					<a id="dashang" class="center-block btn btn-danger btn-lg" style="display: none;" target="_blank" href="">打赏作者</a>
				</div>
			</div>
			<div class="row">
				<div class="col-12" style="height: 100px;">
					
				</div>
			</div>
		</div>
	</body>
	<script data-main="category.js" src="https://cdn.bootcss.com/require.js/2.3.5/require.js"></script>

</html>