<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>秒懂课堂</title>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
		    <div class="container">
		      	<div class="navbar-header">
	        		<span class="logo"></span>
		      	</div>
		      	<div class="navbar-collapse collapse">
		        	<ul class="nav navbar-nav">
		        		<li><a href="http://www.miaodongketang.cn">秒懂课堂</a></li>
			          	<li><a href="http://www.miaodongketang.cn/views/category/category.html#cno=001" target="_blank" >视频专区</a></li>
			          	<li><a href="javascript:alert('暂未开放')" >文档专区</a></li>
			          	<li><a href="javascript:alert('暂未开放')" >吐槽专区</a></li>
			          	<li><a href="javascript:alert('暂未开放')" >精彩预告</a></li>
			          	<li><a href="/views/aboutus/introduce.html" target="_blank">关于我(们)</a></li>
			          	<!-- <li><a href="/views/train/train.html" style="color:red"><b>线下培训<b/></a></li> -->
		        	</ul>
		        	<ul class="nav navbar-nav navbar-right hidden-sm">
		          		<li><a href="javascript:alert('感谢我自己的付出和努力');alert('当然还有大家的支持^_^');" >致谢</a></li>
		        	</ul>
		      	</div>
		    </div>
		</div>
	  	<div class="page-body container">
			<div class="page-header">
			  	<h1>文档专区 <small>文章列表</small></h1>
			</div>
			<div class="col-lg-4 col-xs-12" style="padding: 5px;">
				<div class="row">
					<div class="col-lg-12">
						<div class="list-group">
							<div class="list-group-item article-title">
								<a href="promise/index.html">
									<p class="bg-info">
										<span class="title-img"><img src="../../images/articles/Promise.png"/></span>
										Promise异步编程(零基础阅读)
									</p>
								</a>
							</div>
							<a class="list-group-item" href="promise/index.html#01">什么是异步</a>
							<a class="list-group-item" href="promise/index.html#02">异步带来的问题</a>
							<a class="list-group-item" href="promise/index.html#03">Promise的使用及原理</a>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="list-group">
							<div class="list-group-item article-title">
								<a href="#">
									<p class="bg-info">
										<span class="title-img"><img src="../../images/articles/git.png"/></span>
										如何使用git开发项目
									</p>
								</a>
							</div>
							<a href="./git/index.html" class="list-group-item">创建项目</a>
							<button class="list-group-item">Dapibus ac facilisis in</button>
							<button class="list-group-item">Dapibus ac facilisis in</button>
							<button class="list-group-item">Dapibus ac facilisis in</button>
							<button class="list-group-item">Dapibus ac facilisis in</button>
							<button class="list-group-item">Porta ac consectetur ac</button>
							<button class="list-group-item">Vestibulum at eros</button>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-lg-4 col-xs-12" style="padding: 5px">
				<div class="row">
					<div class="col-lg-12">
						<div class="list-group">
							<div class="list-group-item article-title">
								<a href="#">
									<p class="bg-info">
										<span class="title-img"><img src="../../images/articles/vue.png"/></span>
										Vue2.0 
									</p>
								</a>
							</div>
							<button class="list-group-item">题目1</button>
							<button class="list-group-item">题目2</button>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="list-group">
							<div class="list-group-item article-title">
								<a href="javascript:undefined">
									<p class="bg-info">
										<span class="title-img"><img src="../../images/articles/react.png"/></span>
										React
									</p>
								</a>
							</div>
							<button class="list-group-item">Cras justo odio</button>
							<button class="list-group-item">Cras justo odio</button>
							<button class="list-group-item">Cras justo odio</button>
							<button class="list-group-item">Cras justo odio</button>
							<button class="list-group-item">Cras justo odio</button>
							<button class="list-group-item">Cras justo odio</button>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="list-group-item article-title">
							<a href="javascript:undefined">
								<p class="bg-info">
									<span class="title-img"><img src="../../images/articles/webpack.svg"/></span>
									Webpack4.x的使用
								</p>
							</a>
						</div>
						<button class="list-group-item">Cras justo odio</button>
						<button class="list-group-item">Cras justo odio</button>
						<button class="list-group-item">Cras justo odio</button>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12" style="padding: 5px">
				<div class="row">
					<div class="col-lg-12">
						<div class="list-group-item article-title">
							<a href="javascript:undefined">
								<p class="bg-info">
									<span class="title-img" style="padding: 6px; background: #cf4647;">
										<img style="" src="../../images/articles/gulp.svg"/>
									</span>
									Gulp v3.9.1的使用
								</p>
							</a>
						</div>
						<button class="list-group-item">Cras justo odio</button>
						<button class="list-group-item">Cras justo odio</button>
						<button class="list-group-item">Cras justo odio</button>
					</div>
					<div class="col-lg-12">
						<div class="list-group-item article-title">
							<a href="javascript:undefined">
								<p class="bg-info">
									<span class="title-img"><img src="../../images/articles/webpack.svg"/></span>
									Webpack4.x的使用
								</p>
							</a>
						</div>
						<button class="list-group-item">Cras justo odio</button>
						<button class="list-group-item">Cras justo odio</button>
						<button class="list-group-item">Cras justo odio</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script data-main="index.js" src="https://cdn.bootcss.com/require.js/2.3.0/require.min.js"></script>
	
	
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?6f9c6410aac4d8807b7d63b0b4fe8e6e";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</html>