<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>秒懂课堂</title>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
		    <div class="container">
		      	<div class="navbar-header">
		        	<span class="logo"></span>
		      	</div>
		      	<div class="navbar-collapse collapse">
			        <ul class="nav navbar-nav">
		        		<li><a href="http://www.miaodongketang.cn">秒懂课堂</a></li>
			          	<li><a href="http://www.miaodongketang.cn/views/category/category.html#cno=001" target="_blank" >视频专区</a></li>
			          	<li><a href="javascript:alert('暂未开放')" >文档专区</a></li>
			          	<li><a href="javascript:alert('暂未开放')" >吐槽专区</a></li>
			          	<li><a href="javascript:alert('暂未开放')" >精彩预告</a></li>
			          	<li><a href="/views/aboutus/introduce.html" target="_blank">关于我(们)</a></li>
			          	<li><a href="/views/train/train.html" style="color:red"><b>线下培训<b/></a></li>
			        </ul>
			        <ul class="nav navbar-nav navbar-right hidden-sm">
			          	<li><a href="javascript:alert('感谢我自己的付出和努力');alert('当然还有大家的支持^_^');" >致谢</a></li>
			        </ul>
		      	</div>
		    </div>
	  	</div>
		<div class="page-body container">
			<div class="row">
				<div class="col-lg-12 img-ad">
					<img class="img-responsive hidden-xs" src="../../images/train/图片1.png"  />
					<img class="img-responsive visible-xs-block" src="../../images/train/m图片1.png"  />
				</div>
				<div class="col-lg-12 img-ad">
					<img class="img-responsive hidden-xs" src="../../images/train/图片2.png"  />
					<img class="img-responsive visible-xs-block" src="../../images/train/m图片2.png"  />
				</div>
				<div class="col-lg-12 img-ad">
					<img class="img-responsive hidden-xs" src="../../images/train/图片3.png"  />
					<img class="img-responsive visible-xs-block" src="../../images/train/m图片3.png"  />
				</div>
				<div class="col-lg-12 img-ad">
					<img class="img-responsive hidden-xs" src="../../images/train/图片4.png"  />
					<img class="img-responsive visible-xs-block" src="../../images/train/m图片4.png"  />
				</div>
				<div class="col-lg-12 img-ad">
					<img class="img-responsive hidden-xs" src="../../images/train/图片5.png"  />
					<img class="img-responsive visible-xs-block" src="../../images/train/m图片5.png"  />
				</div>
				<div class="col-lg-12 img-ad">
					<img class="img-responsive hidden-xs" src="../../images/train/图片6.png"  />
					<img class="img-responsive visible-xs-block" src="../../images/train/m图片6.png"  />
				</div>
				<div class="col-lg-12 img-ad">
					<img class="img-responsive hidden-xs" src="../../images/train/图片7.png"  />
					<img class="img-responsive visible-xs-block" src="../../images/train/m图片7.png"  />
					<!--手机端-->
					<a class="img-consult-mb visible-xs-block" target="_blank" 
					   href="mqqwpa://im/chat?chat_type=wpa&uin=2169049811&version=1&src_type=web&web_src=oicqzone.com">
						<img class="" border="0" src="../../images/train/QQ.png"/>
					</a>
					<!--PC端-->
					<a class="img-consult-pc hidden-xs" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2169049811&site=qq&menu=yes">
						<img class="" border="0" src="../../images/train/QQ.png"/>
					</a>
				</div>
				<!--手机端-->
				<div class="col-lg-12">
					<span class="visible-xs-block">如果你点击QQ图标没反应，可能是微信屏蔽了超链接，点击右上角切换成浏览器打开即可</span>
				</div>
			</div>
		</div>
	</body>
	<script data-main="train.js" src="https://cdn.bootcss.com/require.js/2.3.0/require.min.js"></script>
	
	
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?6f9c6410aac4d8807b7d63b0b4fe8e6e";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</html>