* {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none; }

img, button {
  border: none; }

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.container .logo {
  display: block;
  width: 150px;
  height: 60px;
  background: url("../../images/index/logo2.png") 0px 0px no-repeat;
  background-size: 100%;
  margin-top: 25px;
  margin-left: -30px; }

.container .nav {
  margin-top: 50px; }

.slide-navigator {
  width: 100%;
  height: 135px;
  margin-top: 30px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3); }
  .slide-navigator #wrapper {
    overflow: hidden; }
    .slide-navigator #wrapper #videosdata {
      width: 300px;
      height: 140px;
      margin: 0;
      padding: 10px 10px 10px 20px; }
      .slide-navigator #wrapper #videosdata li {
        float: left;
        margin: 0px 10px;
        border-radius: 3px;
        width: 144px;
        height: 81px;
        background-size: cover; }
        .slide-navigator #wrapper #videosdata li.active {
          color: red;
          font-weight: bold; }
        .slide-navigator #wrapper #videosdata li img {
          border: none;
          border-radius: 3px;
          display: block; }
        .slide-navigator #wrapper #videosdata li p {
          margin-top: 5px;
          font-size: 12px;
          text-align: center;
          -webkit-user-select: none; }

.category-detail {
  padding: 0;
  width: 1120px;
  margin: 30px auto 10px auto;
  border-radius: 3px;
  overflow: hidden;
  background: #f1f1f1; }
  .category-detail p {
    color: #787878;
    font-size: 18px;
    text-align: center;
    line-height: 630px; }
  .category-detail iframe {
    border: none; }
  .category-detail #gotoUKu {
    margin: 20px auto; }

.page-leftside {
  display: none;
  position: fixed;
  left: -300px;
  top: 0;
  width: 300px;
  height: 100%;
  background: white;
  border-right: solid 1px #999; }
  .page-leftside .erweima {
    width: 250px;
    text-align: center;
    margin: auto; }
    .page-leftside .erweima img {
      width: 200px;
      border-radius: 5px; }
  .page-leftside .fold {
    width: 30px;
    height: 100px;
    position: absolute;
    right: -30px;
    top: 45%;
    line-height: 100px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #999;
    border-left: none;
    background: white;
    cursor: pointer;
    -webkit-user-select: none; }
