<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>秒懂课堂</title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		      <div class="navbar-header">
		        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
		          <span class="sr-only">Toggle navigation</span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand hidden-sm" href="http://www.bootcss.com" >秒懂课堂</a>
		      </div>
		      <div class="navbar-collapse collapse" role="navigation">
		        <ul class="nav navbar-nav">
		          <li class="hidden-sm hidden-md"><a href="http://v2.bootcss.com/" target="_blank" >视频专区</a></li>
		          <li><a href="http://v3.bootcss.com/" target="_blank" >文档专区</a></li>
		          <li><a href="http://v4.bootcss.com/" target="_blank" >吐槽专区</a></li>
		          <li><a href="/p/lesscss/" target="_blank" >精彩预告</a></li>
		          <li><a href="http://www.youzhan.org/" target="_blank">关于我们</a></li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right hidden-sm">
		          <li><a href="/about/">致谢</a></li>
		        </ul>
		      </div>
		    </div>
		  </div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">slider1</div>
				<div class="swiper-slide">slider2</div>
				<div class="swiper-slide">slider3</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<section>
			<div class="page-header text-center">
			  	<h1>秒懂视频 <small>彻底解决你的学习焦虑</small></h1>
			</div>
			<div id="">
				
			</div>
		</section>
		
	</body>
	
	
	<script data-main="main.js" src="https://cdn.bootcss.com/require.js/2.3.5/require.js"></script>
	
</html>